// Fonts
@import url("https://fonts.googleapis.com/css?family=Roberto+Slab");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.buy-input {
  max-width: 270px;
}

@media screen and(max-width: 1040px) {
  #dashboard-wrapper {
    overflow: scroll;
  }
}

.CoinPagination {
  width: 265px;
}

#currencySwitcher {
  width: 85px;
  margin-bottom: 10px;
}

#languageSwitcher {
  width: 165px;
  margin-bottom: 10px;
}