// Fonts
@import url("https://fonts.googleapis.com/css?family=Roberto+Slab");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.buy-input {
  max-width: 270px;
}

@media screen and(max-width: 1040px) {
  #dashboard-wrapper {
    overflow: scroll;
  }
}

.CoinPagination {
  width: 265px;
}

#currencySwitcher {
  width: 85px;
  margin-bottom: 10px;
}

#languageSwitcher {
  width: 165px;
  margin-bottom: 10px;
}

.searchResult {
  height: 250px;
  max-height: 250px;
  overflow-y: scroll;
}

// .particles-js-canvas-el {
//   position: absolute;
//   z-index: -10;
// }
#background {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url("/img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.navbar-laravel {
  background-color: transparent;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.table-dark {
  color: white;
  background-color: transparent;
  border-color: rgb(248, 138, 138);
}

tr {
  border-bottom: white;
}

h2 {
  color: white;
}

.d-inline-flex {
  color: white;
}

// .v--modal {
//   background-color: transparent !important;
// }
// .coinInfo tr {
//   border-bottom: white !important;
//   border-style: solid !important;
//   background-color: transparent !important;
// }